body{
	background-color:  #fafafa!important; 
}
.container{
	font-family: 'Roboto', sans-serif;
		
}
.container h2{
	font-size: 24px;
	text-align: center;
	color:#434343!important;
	margin:0;
}
.container .padding .input-group{
	padding: 40px 0px;
}
.container .mid-para p{
	text-align: center;
	color:#4d4d4d;
}
.container .padding{
	padding: 30px 2px!important;
}
.container .nav-tabs .nav-link{
	border:none;
	padding: 20px 60px;
}
.container .nav-tabs {
	background-color:#eee;
}
.border{
	box-shadow: 0 1px 4px rgba(0,0,0,.04)!important;
    border: 1px solid rgba(0,0,0,.09)!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important
}
.nav-tabs a.nav-link{
	color:#6f6f6f;
}
.container .nav-tabs .nav-link.active{
	border-bottom:1px solid #efb231;
	border-right: none;
	background-color: unset;
}
.tab-content .tab-pane ul li{
	text-align: left;
	padding:40px 5px 40px 10px;
	color:#4d4d4d; 
}
.tab-content .tab-pane p{
	margin:0;
	text-align: left;
	padding:40px 5px 40px 40px; 
	color:#4d4d4d;
}			 	
.tab-content .tab-pane ul{
	margin-bottom:0!important;
}
.container  .mid-para .display-inline {
	padding-top:10px;
}
div.display-inline > p ,div.display-inline span {
	display: inline-block;
}
.blue-color{
	color:#27c3ae;
}
.underlined{
	text-decoration: underline;
}
.container .padding .mid-para .display-inline p{
	margin:0;
}
/*btn and input box styles*/
.input-group-append .btn{
	padding:10px 40px;
	background-color: #05b59e;
	border:1px solid #006f5c;
	color:white;

	font-weight: 600;
}
.container input{
	border:1px solid #e6e6e6;
	color:white;
	font-size: 14px;
}