<html>
  <head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">  
  </head>
<body>
<div class="container" style="width:665px;text-align: center;">
  <div class="padding">  
    <h2 style="color:black">Negative Reviews Identifier</h2>
      <div class="input-group">
        <input type="text" [(ngModel)]="data" #ctrl="ngModel" class="form-control" placeholder="Enter Search Keyword" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
          <button class="btn" type="button" (click)="onClickMe(data)">Click Me!</button>
        </div>
      </div> 
    <div class="mid-para">
      <span class="blue-color">{{review}}</span>
      <div class="display-inline">
      <p class="underlined">The identified Intent is&nbsp;:</p>
      <span class="blue-color">{{intent}}</span>
      </div>
    </div>
  </div>
  <div class="border">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="primary-tab" data-toggle="tab" href="#primary" role="tab" aria-controls="primary" aria-selected="true">General Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="secoundary-tab" data-toggle="tab" href="#secoundary" role="tab" aria-controls="secoundary" aria-selected="false">Particular/Situational Template</a>
      </li>
    </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="primary" role="tabpanel" aria-labelledby="primary-tab"><p>{{primary}}</p></div>
    <div class="tab-pane fade" id="secoundary" role="tabpanel" aria-labelledby="secoundary-tab">
        <ul>
          <li *ngFor="let item of secondary"> 
            {{item}}
          </li>
        </ul>
    </div>
  </div>
  </div>
</div>  
</body>
<script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
</html>
 